.add-program-extra-meal {
  margin-bottom: var(--space-lg);
}

.add-program-extra-meal-name {
  font-size: var(--font-size-md);
  color: var(--primary);
  margin-bottom: var(--space-lg);
}

.add-program-extra-meal-file-uploader {
  height: 80px;
  border-radius: var(--border-radius-base);
  border: 1px dashed #dee6ed;
  background: var(--natu);
}

.add-program-extra-meal-file-uploader img {
  max-width: 100%;
  max-height: 100%;
}

.add-program-extra-meal-file-uploader-title {
  font-size: var(--font-size-xs);
  color: var(--primary);
}

.add-program-form .accordion-item {
  border: none;
  border-bottom: 1px solid rgb(41, 56, 78, 0.1);
  margin-bottom: var(--space-xl);
}

.add-program-extra-meal-border {
  border-top: 1px solid rgb(41, 56, 78, 0.1);
  padding-top: var(--space-lg);
}

.add-program-form .accordion-item .accordion-button {
  padding: var(--space-base);
  font-weight: 500;
  font-size: var(--font-size-lg);
  color: var(--text);
}

.add-program-form .accordion-item .accordion-button::after {
  margin-left: auto;
  margin-right: 0;
}

.add-program-form .accordion-item .accordion-button:lang(ar)::after {
  margin-left: 0;
  margin-right: auto;
}

.add-program-form .accordion-item .accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}

.add-program-form .accordion-item .accordion-button:focus {
  box-shadow: none;
  border-color: none;
}

.assign-program-to-user .input-withicon-group {
  border: none !important;
}

.list-of-users-inner {
  height: calc(100vh - 450px);
  overflow-y: auto;
}

.list-of-users-submit-btn .icon {
  transform: rotate(-30deg);
}

.list-of-users-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.list-of-users-user-name {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--text);
}

.list-of-users-user {
  margin-bottom: var(--space-xl);
}

.program-type {
  color: #29384e;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

.program-type img {
  /* transition: 0.3s; */
}

.program-type.active,
.program-type:hover {
  color: var(--secondary);
  border-bottom-color: var(--secondary);
}

.program-type.active img,
.program-type:hover img {
  filter: invert(21%) sepia(65%) saturate(5159%) hue-rotate(336deg)
    brightness(85%) contrast(90%);
}

.coach-type {
  color: #29384e;
  font-weight: 500;
  transition: 0.3s;
}

.coach-type.active,
.coach-type:hover {
  color: var(--secondary);
}

/* .programs-send-program:hover {
  color: var(--secondary);
} */

.choose-program-info {
  margin-bottom: var(--space-xl);
}

.choose-program-info-note {
  font-size: 14px;
  color: var(--text);
  margin-bottom: var(--space-lg);
  display: block;
}

.choose-program-info-categories {
  margin-bottom: 24px;
}

.choose-program-info-category {
  border-radius: 50px;
  background: rgba(208, 32, 73, 0.05);
  padding: 8px 16px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--secondary);
}

.choose-program-info-count {
  display: flex;
  width: 15px;
  height: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 75px;
  background: var(--text, #29384e);
  color: var(--bs-white);
  font-size: 11px;
  font-weight: 500;
  padding-top: 5px;
  transition: 0.3s;
}

.global-tabs-item.active .choose-program-info-count,
.global-tabs-item:hover .choose-program-info-count {
  background: var(--secondary);
}

.count-of-programs {
  position: absolute;
  bottom: 6px;
  left: 170px;
  font-size: 14px;
  color: var(--secondary);
}
