.overlay-when-uploading-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 / 0.5);
  color: var(--bs-white);

}
/****************************           ReactDatePicker           ********************************************************/

.react-datepicker__input-container input{
  width: 100%;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
}
.react-datepicker{
  direction: ltr;
  border-radius: 15px;
  padding: 20px 20px 0 20px;
}
.react-datepicker__day-names{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 12px;
}
.react-datepicker__day--keyboard-selected{
  background-color: var( --secondary) !important;
}
.react-datepicker__week{
  flex-direction: row;
    display: flex;
    justify-content: center;
}
.react-datepicker__day--in-range{
  background-color: var( --secondary);
}
.react-datepicker__day--in-selecting-range{
  background-color: var( --secondary) !important;
}
.react-datepicker__day--in-range{
  background-color: var( --secondary) !important;
}
.react-datepicker__header{
  background-color: transparent;
  border: none;
}
.react-datepicker__header button{
  background-color: transparent;
  border: none;
}
.react-datepicker__header select{
  background-color: transparent;
  border: none;
  font-size: 0.95rem;
}
.react-datepicker__month-container{
  width: fit-content;
}
.react-datepicker__portal .react-datepicker__day-name,
.react-datepicker__portal .react-datepicker__day,
.react-datepicker__portal .react-datepicker__time-name {
  line-height: 3rem;
  width: 40px;
}
.react-datepicker__day{
  border-radius: 50%;
  width: 50px !important;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:lightgray;
}
.react-datepicker__day:hover{
  border-radius: 50%;
  background-color: var( --secondary);
  color: white;
}


/****************************           ReactDatePicker           ********************************************************/

.confirm-buttons{
  text-align:end;
  padding-top: 50px;
}
.confirm-buttons button{
  background-color:white;
  border:none;
  font-size:1.1rem;
  padding: 20px 20px 10px 20px;
  color: var(--secondary);
}

.custom-header select{
  outline: none;
}

.custom-header button{
  outline: none;
  font-size: 1.2rem;
  font-weight: bolder;
  padding-inline: 20px;
}

.coach-page{
  margin-top: var(--header-height);
  margin-inline-start: var(--sidebar-width);
  transition: 0.3s;
}
.coach-container{
  display: grid;
  grid-template-columns:3fr 1fr;
  gap:20px;
  margin-inline: 20px;
}

.coach-left-side{
  background-color: white;
  min-height: calc(100vh - var(--header-height));
  padding: 20px 30px;
}
.coach-degree-img{
  margin-block: 20px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.coach-degree-img img{
  width: 22%;
}

.coach-left-side-top{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.coach-left-side-top img{
  border-radius: 100%;
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin-bottom: 10px;
}
.coach-left-side p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.coach-left-side span{
  background-color: var(--light-bg);
  padding: 8px;
  border-radius: 7px;
}

.coach-table{
  background: var(--bs-white);
  border-radius: 10px;
  padding: 5px 24px 10px 24px;
  height: fit-content;
}

.coach-page hr{
  margin-block: 30px;
}
.contact-details{
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-details i{
  background-color: rgba(208, 32, 73, 0.05);
  color: var(--secondary);
  border-radius: 50%;
  font-size: 1.6rem;
  padding: 10px;
}

@media (max-width: 991px) {
  .coach-page {
    padding: var(--space-base);
  }
}
@media (max-width: 1220px) {
  .coach-container{
    display: block;
  }
}