.user-page-avatar {
  width: 67px;
  height: 67px;
  border-radius: 50%;
}

.user-page-name {
  font-size: var(--font-size-md);
  font-weight: 500;
  color: var(--primary);
}

.user-page-subscription {
  min-width: 171px;
  height: 44px;
  background-color: #f7f8f9;
  font-size: var(--font-size-lg);
  font-weight: 400;
  border-radius: var(--border-radius-base);
}

.user-page .user-personal-info {
  margin-bottom: var(--space-base);
  font-size: var(--font-size-md);
  font-weight: 500;
}

.user-page table td:not(.large-td) {
  width: 156px;
  max-width: min-content;
}

.user-page table td.large-td {
  width: 227px;
  max-width: min-content;
}

.user-page .table {
  border: 1px solid #fafafa !important;
  vertical-align: middle;
}

.user-page .table td {
  height: 72px;
  padding-inline: 10px;
  font-size: var(--font-size-sm);
  font-weight: 400;
  color: var(--text);
}

.user-page .table th {
  height: 39px;
  padding-inline: 10px;
  font-size: var(--font-size-base);
  font-weight: 400;
  color: var(--text);
}

.user-page .table tbody {
  border-top: inherit !important;
}

.user-page .table button {
  background: transparent;
  padding: 0;
  border: none;
}

.trainings-and-meals-tabs {
}

.trainings-and-meals-tabs .nav-link {
  font-size: var(--font-size-md);
  font-weight: 500;
  color: var(--text);
  padding: 8px 0;
  padding-inline-end: 8px;
  border: none;
  border-bottom: 1px solid transparent;
  background: transparent;
}

.trainings-and-meals-tabs .nav-link.active {
  background-color: transparent;
  border-color: var(--secondary);
}

.trainings-and-meals-tabs-search {
  margin-bottom: 0 !important;
}
