.dashboard {
}

.dash-container {
  padding: 26px 79px 34px 86px;
}
.dash-container .info {
  margin-bottom: 69px;
}
.dash-container .info .header {
  /* font-size: pxToRem(25); */
}
.dash-container .info .text {
  /* font-size: pxToRem(18); */
}
.dash-container .info button {
  width: 146px;
  padding: 6px 0px;
  /* font-size: pxToRem(14); */
  line-height: 27px;
}
.dash-container .info .main-btn {
  margin-left: 30px;
}
.dash-container .categories .category {
  padding: 16px 39px 16px 17px;
}
.dash-container .categories .category .img {
  top: -29px;
  right: 34px;
}
.dash-container .categories .category .right-info p:first-of-type {
  /* font-size: pxToRem(18); */
}
.dash-container .categories .category .right-info p:last-of-type {
  /* font-size: pxToRem(14); */
}
.dash-container .categories .category .left-info p:first-of-type {
  /* font-size: pxToRem(16); */
}
.dash-container .categories .category .left-info p:last-of-type {
  /* font-size: pxToRem(30); */
}
.dash-container .dashboard-section .chart .chart-text .heading {
  /* font-size: pxToRem(20); */
}
.dash-container .dashboard-section .chart .chart-text div {
  font-family: "Roboto", sans-serif;
}
.dash-container .dashboard-section .chart .chart-text div .for {
  color: #748aa1;
}
.dash-container .dashboard-section .chart .chart-img div p:first-of-type {
  /* font-size: pxToRem(35); */
  color: #e45f26;
}
.dash-container .dashboard-section .chart .chart-img div p:last-of-type {
  /* font-size: pxToRem(20); */
}
.dash-container .dashboard-section .dash-info .text-poppins {
  padding: 15px 39px 19px 52px;
}
.dash-container .dashboard-section .dash-info .text-poppins .infos .number {
  /* font-size: pxToRem(30); */
}
.dash-container .dashboard-section .dash-info .text-poppins .infos .green-text {
  color: #2ad7a1;
  /* font-size: pxToRem(18); */
}
.dash-container .dashboard-section .dash-info .text-poppins .infos .small {
  /* font-size: pxToRem(14); */
}
.dash-container .dashboard-section .dash-info .clients {
  padding: 25px 24px 25px 50px;
}
.dash-container .dashboard-section .dash-info .clients .header {
  font-family: "Roboto", sans-serif;
}
.dash-container .dashboard-section .dash-info .clients .header .header-text {
  /* font-size: pxToRem(20); */
}
.dash-container .dashboard-section .dash-info .clients .header .for {
  color: #748aa1;
}
.dash-container
  .dashboard-section
  .dash-info
  .clients
  .clients-info
  .client
  .trophy {
  top: 67px;
  right: 0px;
}

/*-------- Start Media Query --------*/
@media all and (max-width: 639px) {
  .dashboard .dash-container {
    padding: 10px;
  }
  .dashboard .dash-container .info .main-btn {
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .dashboard .dash-container .dashboard-section .dash-info .text-poppins {
    padding: 10px;
  }
  .dashboard .dash-container .dashboard-section .dash-info .clients {
    padding: 10px;
  }
}
@media all and (min-width: 640px) and (max-width: 767px) {
  .dashboard .dash-container {
    padding: 10px;
  }
  .dashboard .dash-container .dashboard-section .dash-info .clients {
    padding: 10px;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .dashboard .dash-container {
    padding: 10px;
  }
  .dashboard .dash-container .info .main-btn {
    margin-bottom: 20px;
  }
  .dashboard .dash-container .info img {
    width: 60%;
  }
}
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .dashboard .dash-container {
    padding: 10px;
  }
  .dashboard .dash-container .info img {
    width: 50%;
  }
}
/*-------- End Media Query --------*/

/* my  */
.bg-light-gray {
  background-color: var(--light-bg);
}

.bg-white {
  background-color: var(--bs-white);
}

.gap-y-3 {
  row-gap: 0.75rem;
}

@media (min-width: 768px) {
}

.p-4 {
  padding: 1rem;
}

@media (min-width: 640px) {
  .text-sm-right {
    text-align: right;
  }
}

.text-secondary {
  color: #172327;
}